@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

footer.page-footer {
    /* padding-top: 10px; */
    background-color: #8898aa;
    position: static;
    width: 100%;
    bottom: 0;
    display: absolute;
     overflow: hidden;
     box-sizing: inherit;
}


.footer-links {
  font-size: 20px;
  margin-top: 11%;
  margin-right: 40%;
  font-family: 'Nanum Gothic', sans-serif;
}

footer.page-footer .footer-copyright {
text-align: center;
}
