@import url('https://fonts.googleapis.com/css?family=Nunito');


.register-form{
  margin-bottom: 5%;
 margin-top: 15%;
}

.register-title{
  color: #454647;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
}


.form-group {
  width: 40%;
  margin: auto;
  line-height: 1.6;
}

.header-button {
  box-shadow: 0 0 0 0 ;
  font-size: 1.2rem;
  border-color: #ffffff;
  padding: 2rem 14rem;
  color: #ffffff;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  border-radius: 50px;
  margin-top: 0;
  margin-left: 30%;
  width: 40%;
  line-height: normal;
  text-align: center;
}


.form-row {
  background-color: white;
  margin-left: 39%;
}

.terms {
  text-align: center;
  margin-left: auto;
  margin-right: 35%;
  font-weight: 4400;
  width: 30em;
  height: 17rem;
  line-height: normal;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
}
