@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Prata|Nunito|Oswald:500|Lato|Oxygen');

/* Whole Navbar */
nav {
  background: none;
  width: 100%;
  color: #000000;
  padding: 10px 20px;
  line-height: 40px;
  box-shadow: none;
  top: 0;
  text: black;
}

/* Company Logo, left corner */
nav .brand-logo {
  color: black;
  font-family: 'Oswald', sans-serif;
  margin-left: 5%;
  font-weight: 400;
}

/* Navbar links */
nav ul a  {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Oxygen', sans-serif;
  color: #48494a;
  font-weight: 1;
  margin-left: auto;
}

/* Navbar links on hover */
nav ul a:hover {
  border-bottom: 3px solid #000;
  display: inline-block;
  background-color: white;
}

.modal {
  width: 500px;
}

/* Login Modal */
#modal_0 {
  width: '26%';
  height: '64%';
  background-color: white;
  border-radius: 5;
  text-align: 'center';
}

/* Navbar icons */
nav .nav-wrapper i {
  height: 39px;
  line-height: 44px;
}

.register-card {
  position: relative;
  background-color: #fff;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  min-width: 500px;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.register-form{
  font-family: 'Nunito', sans-serif;
  margin-top: 15%;
  padding-top: 3%;
  min-width: 300px;
}

.register-title{
  color: #454647;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  height: 2rem !important;
}

.form-group {
  width: 470px;
  margin: auto;
}

 /* label focus color */
 .input-field input:focus + label {
  color: #969696 !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #969696 !important;
  box-shadow: 0 1px 0 0 #969696 !important;
}

.input-field label {
  top: -0.5rem;
}

.register-btn-container {
  text-align: center;
}

.header-button {
  box-shadow: 0 0 0 0 ;
  font-size: 1.2rem;
  border-color: #ffffff;
  color: #ffffff;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  border-radius: 50px;
  text-align: center;
  margin: 10px auto 5px auto;
  width: 250px;
  line-height: normal;
  text-align: center;
}

.button-collapse {
  color: black;
}

.form-row {
  background-color: white;
  margin-left: auto;
}

.helper {
  text-align: left;
  margin-left: 5%;
  margin-right: auto;
  font-weight: 4400;
  width: 40em;
  line-height: normal;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
}

.terms {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 4400;
  width: 40em;
  line-height: normal;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
}

.fb-btn-container {
  text-align: center;
}

.fb-btn, .fb-btn:visited {
  margin-top: 2%;
  color: white;
  border-color: #3b5998;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background: #3b5998;
}

.fb-btn:hover, .fb-btn:focus, .fb-btn:active {
  background: #4464a8;
}

.no-profile-warning {
  text-align: center;
  width: 100%;
  border: 1px solid red;
  background-color: rgb(255, 197, 197);
  color: red;
}

#profile {
  font-size: 10px;
  text-align: center;
}

#followercount {
  text-align: center;
  opacity: 0.5;
}

#card {
  max-width: 200;
}

.content {
  overflow: auto;
  min-height: 95vh;
}

.blocktext {
  font-family: 'Prata', serif;
  font-weight: 400;
  text-align: center;
  color: #3bc4ed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 17em;
  height: 17rem;
  line-height: normal;
}

.blocktext span {
  color: black;
}

.info-image {
  margin-left: 10%;
}

.drop-image{
  margin-bottom: 30%;
  margin-top: 21%;
}

footer.page-footer {
  /* padding-top: 10px; */
  background-color: #8898aa;
  position: static;
  width: 100%;
  bottom: 0;
  display: absolute;
  overflow: hidden;
  box-sizing: inherit;
}


.footer-links {
  font-size: 20px;
  margin-top: 11%;
  margin-right: 40%;
  font-family: 'Nanum Gothic', sans-serif;
}


footer.page-footer .footer-copyright {
  text-align: center;
}

.socialMedia {
  font-size: 3rem;
  display: inline-block;
  margin: 0 20px 0 0;
  margin-top: 15%;
  position: relative;
  color: white;
  float: right;
}

.socialMedia:hover {
  color: #3bc4ed;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background: rgb(109, 109, 109);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}